*{
	margin: 0;
}
.e549_2 { 
	overflow:hidden;
}
.e549_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:100%;
	height:100%;
	position:absolute;
}
.e549_111 { 
	width:1246px;
	height:796px;
	position:absolute;
	left:417px;
	top:18px;
}
.e549_112 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:559.2069702148438px;
	height:796px;
	position:absolute;
	left:325.75164794921875px;
	top:0px;
}
.e549_113 { 
	background-color:rgba(255, 255, 255, 1);
	width:280.50836181640625px;
	height:60.30303192138672px;
	position:absolute;
	left:465.1009521484375px;
	top:271.00698852539062px;
	border-top-left-radius:33px;
	border-top-right-radius:33px;
	border-bottom-left-radius:33px;
	border-bottom-right-radius:33px;
	text-align: center;
	font-size: 18pt;
}
.e549_114 { 
	color:rgba(0, 0, 0, 1);
	width:311.2737731933594px;
	height:14.843822479248047px;
	position:absolute;
	left:451.5279541015625px;
	top:145.3426513671875px;
	font-family:Inter;
	text-align:center;
	font-size:28px;
	letter-spacing:0.5;
	line-height:px;
}
.e549_115 { 
	width:178.25852966308594px;
	height:51.02564239501953px;
	position:absolute;
	left:515.7734375px;
	top:451.8088684082031px;
}
.e549_116 { 
	background-color:rgba(245.43749392032623, 5.113279223442078, 5.113279223442078, 1);
	width:178.25852966308594px;
	height:51.02564239501953px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:66px;
	border-top-right-radius:66px;
	border-bottom-left-radius:66px;
	border-bottom-right-radius:66px;
	font-size: 18pt;
}
.e549_117 { 
	color:rgba(0, 0, 0, 1);
	width:95.01089477539062px;
	height:14.843822479248047px;
	position:absolute;
	left:41.623802185058594px;
	top:11.554553985595703px;
	font-family:Inter;
	text-align:center;
	font-size:28px;
	letter-spacing:0.5;
	line-height:px;
}
.e549_118 { 
	width:250.6477813720703px;
	height:470.3636474609375px;
	position:absolute;
	left:995.3522338867188px;
	top:152.14918518066406px;
}
.e549_119 { 
	background-color:rgba(255, 255, 255, 0.009999999776482582);
	width:250.6477813720703px;
	height:470.3636474609375px;
	position:absolute;
	left:0px;
	top:0px;
}
.e549_120 { 
	width:208.8731689453125px;
	height:391.9702453613281px;
	position:absolute;
	left:20.887271881103516px;
	top:39.19583511352539px;
}
.e549_121 { 
	background-color:rgba(47.0000009983778, 136.00000709295273, 255, 1);
	width:73.10559844970703px;
	height:391.9696960449219px;
	position:absolute;
	left:36.55278015136719px;
	top:0.00003300735625089146px;
}
.e549_121 { 
	border:7.756047248840332px solid rgba(0, 0, 0, 1);
}
.e549_122 { 
	border:7.756047248840332px solid rgba(0, 0, 0, 1);
}
.e549_122 { 
	width:73.10559844970703px;
	height:303.7765197753906px;
	position:absolute;
	left:109.6583480834961px;
	top:88.19366455078125px;
}
.e549_123 { 
	border:7.756047248840332px solid rgba(0, 0, 0, 1);
}
.e549_123 { 
	width:208.8731689453125px;
	height:0px;
	position:absolute;
	left:-0.000056824304920155555px;
	top:391.9701843261719px;
}
.e549_124 { 
	width:250.6477813720703px;
	height:470.3636474609375px;
	position:absolute;
	left:0px;
	top:152.14918518066406px;
}
.e549_125 { 
	background-color:rgba(255, 255, 255, 0.009999999776482582);
	width:250.6477813720703px;
	height:470.3636474609375px;
	position:absolute;
	left:0px;
	top:0px;
}
.e549_126 { 
	width:208.8731689453125px;
	height:391.9702453613281px;
	position:absolute;
	left:20.887296676635742px;
	top:39.19583511352539px;
}
.e549_127 { 
	background-color:rgba(47.0000009983778, 136.00000709295273, 255, 1);
	width:73.10559844970703px;
	height:391.9696960449219px;
	position:absolute;
	left:36.55282211303711px;
	top:0.00003300735625089146px;
}
.e549_127 { 
	border:7.756047248840332px solid rgba(0, 0, 0, 1);
}
.e549_128 { 
	border:7.756047248840332px solid rgba(0, 0, 0, 1);
}
.e549_128 { 
	width:73.10559844970703px;
	height:303.7765197753906px;
	position:absolute;
	left:109.65843200683594px;
	top:88.19366455078125px;
}
.e549_129 { 
	border:7.756047248840332px solid rgba(0, 0, 0, 1);
}
.e549_129 { 
	width:208.8731689453125px;
	height:0px;
	position:absolute;
	left:-0.0000015735280385342776px;
	top:391.9701843261719px;
}
